/*
*{ margin:0; padding:0; list-style:none;}
#divSmallBox{overflow:hidden;*display:inline;*zoom:1;width:10px;height:10px;margin:0 5px;border-radius:10px;background:#ffffff;}*/
#playBox{ width:855px; height:202px;  background:#f6eada; position:relative; overflow:hidden;}
#playBox .oUlplay { width:99999px; position:absolute; left:-40px; top:-17px;}
#playBox .oUlplay li{ float:left;left:0px;}
#playBox .pre{ cursor:pointer; width:45px; height:45px; background:url(../images/l.png) no-repeat; position:absolute; top:110px; left:10px; z-index:10;}
#playBox .next{ cursor:pointer; width:45px; height:45px; background:url(../images/r.png) no-repeat; position:absolute; top:110px; right:10px; z-index:10;}

#playBox .smalltitle {width:1000px; height:15px; position:absolute; bottom:15px; margin:0 5px 0 270px ;z-index:10}
#playBox .smalltitle ul{ width:120px; margin:0 auto;}
#playBox .smalltitle ul li{ width:10px; height:10px; margin:0 5px; border-radius:10px; background:#ffffff; float:left; overflow:hidden;*display:inline;*zoom:1;}
#playBox .smalltitle .thistitle{ background:#ee0a05;}

